.container {
  background-color: white;
}


.stripper-image {
  size: cover;
  height: 200px;
}

.booking {
display: grid;
grid-template-columns: 25% 25% 25% 25% ;
grid-template-rows: 350px 350px 350px  ;
}

.stripinfo {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.name {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.choice-of-fantasy {
  margin-left: 3px;
  grid-column-start: 3 ;
  grid-column-end: span 2 ;
  grid-row-start: 2;
  grid-row-end: span 1;

}


