//quick fix to have stripper index responsive
@media only screen and (max-width: 450px) {
  .stripper-mobile {
    overflow-x: hidden;
    height: 150vh !important;
  }
  h4 span {
    font-size: 70px !important
  }
  .card-description span {
    font-size: 60px;
  }
  .card:hover #popup {
    padding-top: 200px !important;
  }
  .fa-star {
    font-size: 60px !important;
  }
  .card-footer {
    height: 25vh !important;
  }
  .stripper-price p {
    font-size: 75px !important;
  }
  .details-inner {
    i {
      font-size: 3em !important;
    }
  }
  .stripper-main {
    width: 32%;
  }
  .button {
    width: 30%;
  }
  .navbar-wagon-brand {
    position:  relative;
  }
}
.rating {
  height: 30px;
  width: 55px;
}
#popup {
  display:none;
}
#adding {
  background-color: #C4CBCA;
  text-align:center;
  padding-top: 67px;
}
.card {
  height: 300px;
  margin-bottom: 20px;
  background-size: cover !important;
  background-position-y: -50px;
  box-shadow: 2px 2px 4px grey;
  color: black;
  opacity:0.85;
  position: relative;
  transition: all 250ms ease;
  border-radius: 2px;
}
.card-category {
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  span {
    background-color: white;
        opacity: 0.5;
    padding: 0 8px;
  }
}
.card-category {
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  margin-top:35px;
  font-size: 12px;
  font-weight:light;
  letter-spacing: 1px;
  line-height: 1.6;
  span {
    background-color:white;
        opacity: 0.8;
    padding: 0 8px;
  }
}
.card-footer {
  background-color: white ;
  position: absolute;
  height: 70px ;
  bottom:0px;
  right:0px;
  left: 0px;
  border-radius:2px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 0px;
  padding-right: 0px;
  flex-grow: 1 1 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.card-footer p {
  font-size: 20px;
}
.stripper-price p {
  margin: 0;
}
.fa-star {
  font-size:18px;
  margin-bottom: 5px;
  opacity: 0.8;
}
.card:hover {

  opacity:1;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
.fa-star {
  opacity:0.85;
}
.card-description {
    display:none;
  }
  #popup {
    text-align: left;
    padding-top: 50px;
    padding-left: 10px;
    display: block ;
  }
}
